# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Cocos2d-x source
cocos2d/

# Compiled game
proj.win32/Debug.win32/
proj.win32/Release.win32/

# Visual Studio junk
*.sdf
*.opensdf
